<div class="container padded">
  <div class="new-man-form form-group">
   <div class="well form-horizontal" style="max-width: 800px">

        <%= simple_form_for(@man) do |f| %>
            <%= f.input :name, placeholder: "Name", class: "form-control", label: false %>
            <%= f.input :address, placeholder: 'Address', class: "form-control", label: false %>
            <%= f.input :photos, as: :attachinary%>
            <%= f.input :height, collection: (100..250), placeholder: 'Height', class: "form-control" %>
            <%= f.input :weight, collection: (40..150), placeholder: 'Weight', class: "form-control" %>
            <%= f.input :birthdate, start_year: Time.now.year - 100,
                                    end_year: Time.now.year - 18,
                                    order: [:day, :month, :year], class: "form-control" %>
            <%= f.input :summary, placeholder: 'Summary', class: "form-control", label: false %>
            <%= f.input :description, placeholder: 'Description', class: "form-control", label: false %>
            <%= f.input :services, :as => :check_boxes, :collection => ["Fake Wedding", "Meet the parents", "Meet the friends", "Cuddling", "Dinner Date", "Park Walk"], :include_hidden => false, class: "form-control" %>
            <%= f.input :price, placeholder: 'Price', class: "form-control", label: false %>
          </div>
          <%= f.submit class: "btn btn-primary" %>
        <% end %>

   </div>
  </div>
</div>







