<div class="container">

  <%= render 'pages/search_form'%>

  <% if @men.present? %>
    <div class="container text-center padded">
      <h2>Select your man!</h2>
    </div>

    <div class="container">
      <div class="row">
        <% @men.each do |man| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= man.photos.any? ? cl_image_path(man.photos.first.path) : '' %>');">
          <div class="card-description">
            <h2><%= man.name %></h2>
            <h3><%= man.summary %></h3>
            <p><%= man.height %> cm  <%= man.weight %> Kg  <%= man.price %> RMB</p>
          </div>
          <%= link_to("", man_path(man), class: "card-link") %>
        </div>
        </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="container text-center" style="margin-top: 100px">
     <h3 id="empty">Apologies- our harem doesn't contain <%= params[:search] %>.</h3>
    </div>
  <% end %>

</div>


<div id="index-map" style="width: 100%; height: 500px; margin-top: 80px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'index-map' } }, function() {
        markers = handler.addMarkers(<%= raw @men_coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>













