  <h1 class="text-center"><%= @man.name%> </h1>

<div class="wraper" >
  <div class="container intro_summary">
    <div class="row">
      <div class="col-xs-12 col-sm-7 ">
        <!-- insert <div class="card"> -->
        <h3> Summary: </h3>
        <p><%= @man.description %></p>
      </div>
      <div class="col-xs-12 col-sm-5">
      <% if @man.photos.any? %>
        <%= render 'carousel'%>
        <% end %>
      </div>
    </div>
  </div>



<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
      <!-- description -->
        <h3> <i class="fa fa-quote-right"></i> Description: </h3>
        <p><%= @man.description %></p>
      <!-- specifications -->
        <h3> <i class="fa fa-id-card"></i> Specifications: </h3>
        <ul class="list-inline">
          <li> <strong>Height:</strong> </li>
          <li> <%= @man.height %> cm</li>
        </ul>
        <ul class="list-inline">
          <li> <strong>Weight:</strong> </li>
          <li> <%= @man.weight %> cm</li>
        </ul>
        <ul class="list-inline">
          <li> <strong>Birthdate:</strong> </li>
          <li> <%= @man.birthdate %></li>
        </ul>
        <ul class="list-inline">
          <li> <strong>Services:</strong> </li>
          <li> <% @man.services.each do |service| %>
              <%= service %>,
            <% end %></li>
        </ul>
        <ul class="list-inline">
          <li> <strong>Price:</strong> </li>
          <li> <%= @man.price %> USD</li>
        </ul>
        <div class="block_butt">
        <%= link_to 'Update', edit_man_path(@man), { class: "btn btn-treehouse"} %>
        <%= link_to 'Destroy', man_path(@man), method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6" style="background:lightgrey; height:400px;">
      <!-- booking form -->
        <%= render 'inputform_booking' %>

      </div>
    </div>
  </div>
</div>

  <div id="map" style="width: 100%; height: 500px;"></div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @man_coordinates.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>

