<!-- see all the men that have been booked by the user -->
<div class="user-booking-overview">
  <h1>Bookings</h1>
  <br>
  <!-- Status check dropdown plus according action -->
  <!-- status check method-->
  <p class="text-center">You booked <%= @bookings.count %> men </p>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <%= @current_choice.capitalize %>
        <span class="text-right caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="?bookings=all" id="all">All</a></li>
      <li><a href="?bookings=confirmed" id="confirmed">Confirmed</a></li>
      <li><a href="?bookings=pending" id="pending">Pending</a></li>
      <li><a href="?bookings=rejected" id="rejected">Rejected</a></li>
    </ul>
  </div>

    <!-- Man card -->
  <div class="container" >
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card <%= booking.status %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.man.photos.any? ? cl_image_path(booking.man.photos.first.path) : '' %>');">
        <div class="card-description">
          <h2><%= booking.man.name %></h2>
          <h3>Booked: <%= booking.start_time %> - <%= booking.end_time %></h3>
          <h3>Price: <%= booking.man.price %>RMB</h3>
          <p> Address: <%= booking.man.address%></p>
        </div>
        <%= link_to("", man_path(booking.man), class: "card-link") %>
      </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
  <!-- Book more men -->
  <div>
    <p class="text-center padded">
      <%= link_to('Book another man', men_path, { class: "btn btn-primary" })%>
    </p>
  </div>
  <!-- No man booked yet button (call-to-action)-->
  <div>
    <p>You did not book any man: <%= link_to "Please make a booking", men_path, class: "btn btn-primary" %></p>
  </div>
</div>










<br><br><br><br><br><br><br>










<% @requests.each do |request| %>
  <% man = Man.find(request.man_id) %>
  <%= man.name %>
  <%= request.start_time %>
  <%= request.end_time %>
  <%= request.status %>

  <% if request.status == "pending" %>
    <%= simple_form_for [man, request]  do |f| %>
      <%= f.hidden_field :action, value: "confirm" %>
      <%= f.submit "Accept", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if request.status == "confirmed" %>
    <%= simple_form_for [man, request]  do |f| %>
      <%= f.hidden_field :action, value: "cancel" %>
      <%= f.submit "Cancel", class: "btn btn-primary" %>
    <% end %>
  <% end %>



<% end %>

