<!-- see all the men that have been booked by the user -->
<div class="user-booking-overview">
  <h1>All the men I booked</h1>
  <br>
  <!-- Status check dropdown plus according action -->
  <!-- status check method-->
  <p>You booked <%= @bookings %> men </p>
  <div class="men-dropdown">
  </div>
  <!-- Book more men -->
  <div>
    <p class="text-center padded">
      <%= link_to('Book another man', men_path, { class: "btn btn-primary" })%>
    </p>
  </div>
  <% else %>
  <!-- No man booked yet button (call-to-action)-->
  You did not book any man
  <%= link_to "Please make a booking", men_path, class: "navbar-wagon-item navbar-wagon-button" %>
</div>

  <ul>
    <li><a href="" id="all">All</a></li>
    <li><a href="" id="confirmed">Confirmed</a></li>
    <li><a href="" id="pending">Pending</a></li>
    <li><a href="" id="rejected">Rejected</a></li>
  </ul>


  <!-- Man card -->
  <div class="container" >
    <div class="row">
      <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="card <%= booking.status %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= booking.man.photos.any? ? cl_image_path(booking.man.photos.first.path) : '' %>');">
        <div class="card-description">
          <h2><%= booking.man.name %></h2>
          <h3>Start time: Price:<%= booking.man.price %>RMB</h3>
          <p><%= booking.man.address%></p>
        </div>
        <%= link_to("", man_path(booking.man), class: "card-link") %>
      </div>
      </div>
      <% end %>
    </div>
  </div>







<br><br><br>

<!-- My men that I created -->

<div class="container text-center padded">

    <% if @men.present? %>
    <div class="container text-center padded">
      <h2>Here are your Boys!</h2>
    </div>

    <div class="container">
      <div class="row">
        <% @men.each do |man| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= man.photos.any? ? cl_image_path(man.photos.first.path) : '' %>');">
          <div class="card-description">
            <h2><%= man.name %></h2>
            <h3><%= man.summary %></h3>
            <p><%= man.height %> cm  <%= man.weight %> Kg  <%= man.price %> RMB</p>
          </div>
          <%= link_to("", man_path(man), class: "card-link") %>
        </div>
        </div>
        <% end %>
      </div>
    </div>

  <% else %>
    <div class="container text-center" style="margin-top: 100px">
     <h3 id="empty">You don't seem to own any Hunks...</h3>
    </div>
  <% end %>
</div>


<br><br><br>










<% @requests.each do |request| %>
  <% man = Man.find(request.man_id) %>
  <%= man.name %>
  <%= request.start_time %>
  <%= request.end_time %>
  <%= request.status %>

  <% if request.status == "pending" %>
    <%= simple_form_for [man, request]  do |f| %>
      <%= f.hidden_field :action, value: "confirm" %>
      <%= f.submit "Accept", class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if request.status == "confirmed" %>
    <%= simple_form_for [man, request]  do |f| %>
      <%= f.hidden_field :action, value: "cancel" %>
      <%= f.submit "Cancel", class: "btn btn-primary" %>
    <% end %>
  <% end %>



<% end %>
